.imprimir {
	display: none;
}

@media print {
	header {
		padding: 0;
	}

	nav, .noprint {
		display: none;
	}

	.imprimir {
		display: inline;
	}


	.firma {
		border-width: 2px 0 0 0;
		border-style: dashed;
		text-align: center;
		width: 200px;
	}
}